<form action="" method="post">
  <div class="card shadow w-50 mx-auto">
    <div class="card-header">
      Edit Account
    </div>
    <div class="card-body">
      <div class="form-group">
        <label for="txtID">ID</label>
        <input type="text" class="form-control" id="txtID" name="id" value="{{this.user.id}}" disabled>
      </div>
      <div class="form-group">
        <label for="txtUsername">Username</label>
        <input type="text" class="form-control" id="txtUsername" name="username" value="{{this.user.username}}" disabled>
      </div>
      <div class="form-group">
        <label for="txtName">Name</label>
        <input type="text" class="form-control" id="txtName" name="name" value="{{this.user.name}}" autofocus>
      </div>
      <div class="form-group">
        <label for="txtEmail">Email</label>
        <input type="text" class="form-control" id="txtEmail" name="email" value="{{this.user.email}}">
      </div>
      <div class="form-group">
        <label for="txtRole">Role</label>
        <select class="form-control" name="role" id="txtRole" disabled>
          <option value="STUDENT">STUDENT</option>
          <option value="LECTURER">LECTURER</option>
        </select>
      </div>
    </div>
    <div class="card-footer text-muted">
      <a class="btn btn-primary" href="/admin/user" role="button">
        <i class="fa fa-backward" aria-hidden="true"></i>
        Back to List
      </a>
      <button type="submit" class="btn btn-outline-danger" formaction="/admin/user/del">
        <i class="fa fa-trash-o" aria-hidden="true"></i>
        Delete
      </button>
      <button type="submit" class="btn btn-outline-success" formaction="/admin/user/patch">
        <i class="fa fa-check" aria-hidden="true"></i>
        Save
      </button>
    </div>
  </div>
</form>